<footer class="container-fluid bg-light py-1">
 
    <div class="w-100">
        <div class="row d-flex justify-content-between w-100">
            <h5 class="p-10 m-2 lead"><strong>Somauma</strong>. Todos os direitos reservados. 2020.</h5>
            <div class="d-flex">
                <h5 class="p-10 m-2 lead">Desenvolvido por Isadora Peres</h5>
                <a href="https://github.com/isadoraperes/" class="p-10 m-2" target="_blank"><img
                        src="./assets/icons/github-line.svg" alt=""></a>
                <a href="https://www.linkedin.com/in/isadoraperes/" class="p-10 m-2" target="_blank"><img
                        src="./assets/icons/linkedin-box-line.svg" alt=""></a>
                <a href="https://www.instagram.com/isadorapperes/" class="p-10 m-2" target="_blank"><img
                        src="./assets/icons/instagram-line.svg" alt=""></a>

            </div>
        </div>


    </div>

 

</footer>