<section class="container d-flex justify-content-center align-items-center">
  <div class="col-md-6 my-5 py-5">
    <form>
      <h2>Cadastre um novo curso</h2>
      <div class="form-group">
        <label>Nome do curso</label>
        <input type="text" class="form-control">
        <small id="name" class="form-text" [(ngModel)]="curso.title"></small>
      </div>

      <div class="form-group">
        <label>Valor (BRL)</label>
        <input type="number" class="form-control">
        <small id="price" class="form-text" [(ngModel)]="curso.price"></small>
      </div>

      <div class="form-group">
        <label>Descrição do curso</label>
        <textarea class="form-control" id="description" placeholder="Descrição do curso"
          [(ngModel)]="curso.description"></textarea>
      </div>

      <div class="form-group my-3">
        <label class="" for="tema">Escolha uma categoria ou <a routerLink="/cadastrar-categoria">Crie uma
            nova</a></label>
        <select name="categoria" id='categoria' class="form-control" [(ngModel)]="idCategoria"
          (change)='findAllCategorias()'>
          <option *ngFor='let item of listaCategorias' value={{item.id}}>
            {{item.name}}
          </option>
        </select>
      </div>


      <button type="submit" class="btn btn-primary" (click)="salvarCurso()">Salvar curso</button>
    </form>
  </div>

</section>